.edit-comment-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-comment {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  background-color: #333;
}
.edit-comment-title h3 {
  color: white;
  background-color: inherit; /* Ensures h3 background matches parent */
  padding: 10px;
}
.edit-comment-title {
  margin-bottom: 10px;
  font-size: 1.5em;
  background-color: #333;
}
#edit-comment-title-id{
  color: white;
}
.edit-comment-text-area {
  background-color: #333;
}

.edit-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #33333366;
  color: white;
}

.comment-char-count {
  color: white;
  background-color: #333;
}

.edit-comment-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #333;
}

.confirm-edit-comment {
  background: green;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.cancel-edit-comment {
  background: gray;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.CloseIcon {
  background-color: #333;
}